<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">


	<title> Eat-Da-Burger! </title>

</head>
<body>
	<div>
		
		<div>
			<img class="burgerTown" src="../assets/img/burgerTwon.png"> 
		</div>
		<div>
			<img class="bigWords" src="../assets/img/bigWords.png"> 
			<p class="rotatingWords">WORLDS BEST BURGERS!</p>
		</div>
		<div>
			<img class="fork" src="../assets/img/fork.png">
			<img class="hamSite" src="../assets/img/hamSite.png">
			<img class="knife" src="../assets/img/knife.png">
		</div>
		{{!-- <div>
			<img class="hamSite" src="../assets/img/burgers.png">
		</div> --}}

{{{ body }}}

<div>
			<img class="burgers" src="../assets/img/burgers.png">
		</div>

	</div> 

	
</body>

</html>